*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
    
}
h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}

.color-acento{
    color: #080808;
}
button:hover{
    background-color: rgb(77, 209, 202);
}
.container{
    max-width: 1400px;
    margin: auto;
    
}
header{
    background-color:rgb(77, 209, 202);
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #ffffff;
    font-size: 2.6em;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
header a:hover{
    color: red;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(media/portadasimada.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero h1{
    color: white;

}
#hero button{
    font-size: 1.75em;
}
#somos-proya .container{
    text-align: center;
    padding: 200px 12px;

}
#nuestrosprogramas{
    background-color:rgb(77, 209, 202);
    color: white;
    text-align: center;
}
#nuestrosprogramas .container{
    padding: 150px 12px;
}
#nuestrosprogramas h2{
    margin-top: 0;
    font-size: 3em;
}
#nuestrosprogramas p{
    display: none;
}
#nuestrosprogramas .carta{
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 30px;
    border-radius: 15px;

}
.carta:first-child{
    
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(media/detalles2\ \(2\).jpeg);
}
.carta:nth-child(2){

    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(media/detalles2\ \(3\).jpeg);

}
.carta:nth-child(3){

    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5) 
    )
    ,url(media/detalles2\ \(4\).jpeg);

}
#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}
#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}
#final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:  rgb(30, 30,30);
    color: white;
    height: 80vh;
}
#final h2{
    font-size: 9vw;
}
#final button{
    font: size 5vw;;
}
footer{
    background-color: rgb(230, 230, 230);
}
footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}
footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
@media (min-width: 720px) {
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;

    }
    #hero h1{
        font-size: 5em;
    }
    #somos-proya .container{
        display: flex;
        justify-content: space-evenly;

    }
    #somos-proya .texto{
        
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #somos-proya h2{
        margin-top: 0px;
    }
    #somos-proya .img-container{
        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(media/simada.jpeg);
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;

    }
    #nuestrosprogramas .programas{
        display: flex;
        justify-content: center;
    }
    #nuestrosprogramas p{
        display: block;
        margin-bottom: 30px;

    }
    #nuestrosprogramas h3{
        margin-top: 0;
    }
    #nuestrosprogramas .carta{
        padding: 15px;
        background-size: 100% 150%;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgb(50, 50, 50);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
    #caracteristicas{
        background-image: url();
        background-repeat: repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;

    }
    #caracteristicas .container{
        text-align:center;
    }
    #caracteristicas ul li {
        text-align: center; /* Justificar el texto */
        display: flex;
        align-items: center; /* Centrar verticalmente el contenido */
        font-weight: normal; /* Quitar la negrita de todas las palabras en el li */
    }
    #caracteristicas ul li strong {
        font-weight: bold; /* Restablecer la negrita solo para las palabras clave */
    }
    #caracteristicas ul{
        margin-left: 1oopx;
    }
    #final h2{
        font-size: 5em;
    }
    #final button{
        font-size: 5em;

    }
    #footer .container{
        justify-content: flex-end;

    }
    
}
/* Estilo para el menú desplegable */
#menuDesplegable {
    font-size: 1.25em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    background-color: #00A86B; /* Color verde esmeralda */
    color: white; /* Texto en color blanco */
}

/* Estilo para las opciones del menú */
#menuDesplegable option {
    font-size: 1em;
    background-color: #fff;
    color: #333;
}

/* Estilo para el menú desplegable cuando se coloca el cursor encima */
#menuDesplegable:hover {
    background-color: #007953; /* Color verde esmeralda más oscuro al pasar el cursor */
}

/* Estilo para el título "IDES" */
.logo {
    color: #00A86B; /* Color verde esmeralda */
}

@media (min-widt:1100px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}

/* Estilos para el botón */
button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

/* Estilos al pasar el cursor sobre el botón */
button:hover {
    background-color: #2980b9;
}
